/* adding background */
body {
    background-image: url("images/space.png");
}

h1 {

    color: lightskyblue;
    text-align: center;
  
}

.nav-link {
    color: lightskyblue;
}

#searchbar {

    text-align: center;
    color: lightskyblue
}

button {
     
background-color: lightskyblue; /* Remove background color */
border: 2px solid whitesmoke; /* Border thickness, line style, and color */
 
border-radius: 5px; /* Adds curve to border corners */
 
text-transform: uppercase; /* Make letters uppercase */
 
}