/* adding background */
body {
    background-image: url("images/space.png");
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: lightskyblue;
    text-align: center;
  
}
p{
    font-family: 'Indie Flower', cursive;
    color: lightskyblue;
    text-align: center;
}
.nav-link {
    font-family: 'Indie Flower', cursive;
    color: lightskyblue;
}

form {

    text-align: center;
    color: lightskyblue
}

button {
    font-family: 'Indie Flower', cursive;
background-color: lightskyblue; /* Remove background color */
border: 2px solid whitesmoke; /* Border thickness, line style, and color */
 
border-radius: 5px; /* Adds curve to border corners */
 
text-transform: uppercase; /* Make letters uppercase */
 
}

input {
    font-family: 'Indie Flower', cursive;
    width: 35%;
    border: 4px lightblue;
    border-radius: 4px;
}